<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.signupscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bookicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".principal" android:screenOrientation="portrait"></activity>
        <activity android:name=".search" android:screenOrientation="portrait"/>
        <activity android:name=".Profile" android:screenOrientation="portrait" />
        <activity android:name=".MyLibrary" android:screenOrientation="portrait" />
        <activity android:name=".BooksList" android:screenOrientation="portrait"/>
        <activity android:name=".BookList" android:screenOrientation="portrait"/>
        <activity android:name=".PdfReader" android:screenOrientation="portrait"/>
        <activity android:name=".BookDetail" android:screenOrientation="portrait"/>
        <activity android:name=".list" android:screenOrientation="portrait"/>
        <activity android:name=".aceuil" android:screenOrientation="portrait"/>
        <activity android:name=".home" android:screenOrientation="portrait"/>
        <activity android:name=".signin" />
        <activity android:name=".signup" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>